*{
	padding: 0;
	margin: 0;
}
body{
	background: beige;
	font: 12px/1.5 Microsoft YaHei,tahoma,arial,Hiragino Sans GB,\\5b8b\4f53,sans-serif;
}
.scr_t{
	width: 1347px;
    height: 48px;
    margin: auto;
    background: white;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 1;
    border-bottom: 2px solid red;
	display: none;
}
.scr_t .sc_top{
	width: 550px;
    height: 35px;
    text-align: center;
    margin-left: 340px;
    margin-top: 6px;
    float: left;
}
.scr_t .sc_top input{
	padding: 4px 44px 4px 4px;
    border: 1px solid transparent;
    width: 448px;
    height: 26px;
    float: left;
    background: #efefef;
    outline: none;
    font-size: 18px;
}
.scr_t .sc_top button{
	width: 50px;
    height: 35px;
    line-height: 35px;
    border: none;
    background-color: #f10215;
    outline: none;
}
.scr_t .sc_top button .but{
	width: 26px;
    margin-top: 4px;
}
/*头部*/
.d_header{
	width: 100%;
	background: #fd6500;
}
header{
	width: 1208px;
    height: 80px;
    position: relative;
    margin: auto;
}
.ht-right{
	position: absolute;
	right: 0px;
	top: 3px;
	width: 20px;
	height: 20px;
	line-height: 16px;
	text-align: center;
	background: cornflowerblue;
	opacity: 0.2;
	font-size: 20px;
    cursor: pointer;
    color: aliceblue;
}
.ht-right:hover{
	color: darkslategrey;
}


/*导航*/
nav{
	background:#e3e4e5;
}
.d_nav{
	height: 30px;
	line-height: 30px;
	color: #999;
	margin: auto;
	width: 1190px;
}
nav .d_nav .nav_fr li{
	float: left;
	list-style: none;
	overflow: hidden;
}
nav .d_nav .nav_fl{
	float: left;
	margin-left: 200px;
	/*background: red;*/
	position: relative;
}
nav .d_nav .nav_fl:hover{
	background: white;
}
nav .d_nav .nav_fl .nav_fl_li{
	width: 70px;
}
nav .d_nav ul .nav_fl_li i{
	height: 30px;
    line-height: 36px;
    display: block;
    float: left;
    margin-right: 4px;
    margin-left: 6px;
}
nav .d_nav ul .nav_fl_li .dizhi{
	height: 18px;
}
nav .d_nav ul li a{
	text-decoration: none;
}

/*导航右*/
.nav_fr{
	float: right;
	height: 30px;
    /*overflow: hidden;*/
    position: relative;
}
.nav_fr li{
	/*background: red;*/
	margin: 0 2px 0 2px;
	height: 30px;
	overflow: hidden;
}
.d_nav ul .nav_fl_li a,.nav_fr li a{
	color: #999;
}
.nav_fr .nav_fr_li span{
	width: 14px;
	display: inline-block;
}
.nav_fr .nav_fr_li span img{
	margin: -4px;
}
.nav_fr li a:hover{
	color:red;
}
.nav_fr .nav_fr_li{
	width: 70px;
	text-align: center;
}
.nav_fr .nav_fr_li:hover{
	background: white;
}

/*js部分的导航*/
/*北京坐标*/
.nav_bj{
	width: 330px;
    height: 320px;
    background: white;
    position: absolute;
    z-index: 1;
    display: none;
}
.nav_bj .nav_bj_t ul li{
	list-style: none;
	height: 28px;
	line-height: 28px;
	/*background: red;*/
    padding: 2px 0;
}
.nav_bj .nav_bj_t ul li a{
	margin-left: 12px;
	display: inline-block;
	font-size: 12px;
	width: 46px;
	text-align: center;
	color: #999;
}
.nav_bj .nav_bj_t ul li a:hover{
	background: red;
	color: white;
}
.nav_bj_m .nmd{
	width: 280px;
    padding-top: 8px;
    margin: auto;
	border-bottom: dotted 1px #dfc8c8;
}
.nav_bj_m p{
	margin: 8px 0 0 22px;
}
.nav_bj_m .p1{
	cursor: pointer;
}
.nav_bj_m .p1:hover{
	color: red;
}

/*我的京东*/
.myjd{
	width: 248px;
    height: 148px;
    background: white;
    position: absolute;
    top: 30px;
    left: 144px;
    z-index: 1;
    display: none;
}
.myjd .myjd_n1 .myjd_u1 li{
	margin-left: 12px;
    height: 24px;
}
.myjd .myjd_n1 .myjd_u1 li a{
	margin-right: 50px;
}
.myjd_ul_a{
	padding-right: 12px;
}
.myjd_n3{
	margin-top: 82px;
}
.myjd_n3_f{
	border-top: 1px solid #ddd2d2;
    height: 0;
    margin: auto;
    width: 240px;
}
.myjd_u2 li{
	margin-right: 18px;
	margin-left: 10px;
	width: 240px;
}
.myjd_u2 .wdbt{
	margin-left: -12px;
}
.myjd_u2 li a{
	padding-right: 62px;
}

/*企业采购*/
.qycg{
	width: 140px;
    height: 60px;
    background: white;
    position: absolute;
    top: 30px;
    left: 285px;
    z-index: 1;
    display: none;
}
.qycg .qycg_ul li{
	margin: 2px 0 0 12px;
    height: 24px;
}
.qycg .qycg_ul li a{
	margin-right: 12px;
}

/*客户服务*/
.khfw{
	width: 156px;
    height: 280px;
    background: white;
    position: absolute;
    top: 30px;
    left: 280px;
    z-index: 1;
    display: none;
}
.khfwli{
	padding-right: 26px;
	padding-top: 12px;
}
.khfw .khfw_u1 .khfwli,.khfw .khfw_u2 .khfwli{
	font-weight: bold;
	color: #a08f8f;
}
.khfw .khfw_u1 li,.khfw .khfw_u2 li{
	margin-right: 2px;
	margin-left: 12px;
	height: 24px;
}
.khfw .khfw_u1 li a,.khfw .khfw_u2 li a{
	margin-right: 14px;
}
.khfw_d2{
	margin-top: 156px;
}
.khfw_f{
	border-top: 1px solid #ddd2d2;
    height: 0;
    margin: auto;
    width: 144px;
}

/*网站导航*/
.wzdh{
	width: 1128px;
    height: 214px;
    background: white;
    position: absolute;
    top: 30px;
    left: -612px;
    z-index: 1;
    border: 1px solid #cdc9c9;
    border-top: 0px;
    display: none;
}
.wzdh_sx{
	height: 180px;
    margin-top: 16px;
    float: left;
    border-right: 1px solid #cdc9c9;
}
.wzdh_s2_ry2{
	margin-left: -24px;
}
.wzdh_s2_ry3{
	margin-left: -8px;
}
.wzdh_s2_ry4{
	margin-left: -12px;
}
.wzdh_s2_ry5{
	margin-left: 24px;
}
.wzdh_s2_ry6{
	margin-left: -12px;
}
.wzdh_s2_ry7{
	margin-left: 12px;
}
.wzdh_s2_ry8{
	margin-left: 24px;
}
.wzdh .wzdh_s1 .khfwli1,.wzdh .wzdh_s2 .khfwli1,.wzdh .wzdh_s3 .khfwli1,.wzdh .wzdh_s4 .khfwli1{
	font-weight: bold;
	color: #a08f8f;
	padding-right: 200px;
	padding-top: 12px;
}
.wzdh .wzdh_s1,.wzdh .wzdh_s2,.wzdh .wzdh_s3,.wzdh .wzdh_s4{
	margin: 12px 0px 0 18px;
}
.wzdh .wzdh_s1{
	width: 252px;
	float: left;
}
.wzdh .wzdh_s1 ul li a{
	margin-right: 16px;
}

.wzdh .wzdh_s2{
	width: 268px;
	float: left;
	margin-left: 22px;
}
.wzdh .wzdh_s2 ul li a{
	margin-right: 44px;
}

.wzdh .wzdh_s3{
	width: 264px;
	float: left;
	margin-left: 22px;
}
.wzdh .wzdh_s3 ul li a{
	margin-right: 30px;
}
.wzdh .wzdh_s3 .khfwli{
	margin-right: 10px;
}

.wzdh .wzdh_s4{
	width: 256px;
	float: left;
	margin-left: 22px;
}
.wzdh .wzdh_s4 ul li a{
	margin-right: 24px;
}


/*搜索栏*/
.h_header_m{
	width: 1190px;
	margin: auto;
	position: relative;
}
.l_img{
	position: absolute;
	left: 0px;
    top: -30px;
    float: left;
}
.r_s_top{
	width: 810px;
    margin-left: auto;
    padding-top: 40px;
}
.r_s_l{
	width: 550px;
    height: 35px;
    float: left;
}
.r_s_l input{
	padding: 4px 44px 4px 4px;
	border: 1px solid transparent;
    width: 448px;
    height: 26px;
    float: left;
    outline: none;
    font-size: 18px;
}
.r_s_l button{
	width: 50px;
    height: 35px;
    line-height: 35px;
    border: none;
    background-color: #f10215;
    outline: none;
}
.r_s_l button .bt{
	width: 28px;
    height: 28px;
    padding-top: 4px;
}
.r_s_r{
	width: 188px;
    height: 33px;
    background-color: #fff;
    text-align: center;
    line-height: 36px;
    float: left;
    margin-left: 72px;
}
.r_s_r p{
	width: 20px;
    height: 20px;
    margin: 8px 8px 0 30px;
    float: left;
    background: url(../img/tel.png) no-repeat 1px -56px;
}
.r_s_r span{
	float: left;
	color: red;
}
.r_s_r .r_i1{
	width: 14px;
    height: 14px;
    float: left;
    background: red;
    border-radius: 8px;
    position: relative;
}
.r_s_r .r_i2{
	position: absolute;
	top: -12px;
    left: 2px;
    color: white;
}
.r_s_l .r_s_u li{
	float: left;
	list-style: none;
	margin-right: 20px;
}
.r_s_l .r_s_u li a{
	text-decoration: none;
	color: #999;
}
.r_s_l .r_s_u li a:hover{
	color: red;
}
.r_s_f .r_f_u li{
	float: left;
	list-style: none;
}
.r_s_f .r_f_u li a{
	text-decoration: none;
	color: #333;
}
.r_s_f .r_f_u li a:hover{
	color: red;
}
.r_s_f{
	margin: 72px 0 0 220px;
}
.r_s_f .r_f_u{
	width: 1000px;
    height: 28px;
    line-height: 28px;
    overflow: hidden;
    /*background: red;*/
}
.r_s_f .r_f_u li{
	margin-right: 26px;
}
.r_s_f .r_f_u li a{
	font-size: 14px;
}

/*内容左半部分*/
.fs .fs_center{
	margin: 0 auto;
    width: 1190px;
    position: relative;
}
.fs_l{
    width: 190px;
    float: left;
    position: relative;
}
.fs_l ul{
	height: 468px;
	background-color: #fefefe;
    color: #636363;
    padding: 6px 0;
}
.fs_l ul li{
	list-style: none;
	padding-left: 18px;
	height: 26px;
    line-height: 26px;
}
.fs_l ul li:hover{
	background: #eed1d1;
}
.fs_l ul li a{
	text-decoration: none;
	color: #626262;
	font-size: 14px;
}
.fs_l ul li a:hover{
	color: red;
}
.fs_l ul li span{
	color: #626262;
}
/*内容左半部分隐藏代码*/
.fs_nr1{
	width: 1000px;
	height: 474px;
	position: absolute;
	top: 6px;
    left: 192px;
    overflow: hidden;
    background-color: #fefefe;
    z-index: 1;
    display: none;
}
.fnl_top{
	height: 34px;
    line-height: 34px;
    padding: 10px 0 0 20px;
}
.fnl_top ul li{
	float: left;
    margin-right: 10px;
    padding: 0 10px;
    height: 24px;
    background-color: #333;
    line-height: 24px;
    color: #fff;
    cursor: pointer;
}
.fnl_top ul li:hover{
	background-color: #333;
	opacity: 0.8;
}
.fs_nr_l{
	height: 474px;
	float: left;
	
}
.fs_nr_r{
	float: left;
	width:168px;
	margin: 30px 0px 0px 70px;
}
.fnl_m ul{
	/*height: 418px;*/
}
.fnl_m ul li{
	height: 32px;
    line-height: 32px;
	margin-left: 12px;
}
.fnl_m ul li span{
	margin: 0px 10px 0px 10px;
	border-left: 1px solid #dfd7d7;
}
.fnl_m ul li:hover{
	background: white;
}
.fnl_m_r{
	font-weight: bold;
	color: #a08f8f;
}

/*内容轮播部分*/
.ulAll{
	width: 590px;
	height: 470px;
	margin: 100px auto;
	position: absolute;
	top: -92px;
	left: 200px;
	border: 1px solid #ccc;
}
.ulAll .ulAll_top{
	width: 590px;
	height: 470px;
	position: relative;
	overflow: hidden;
}
.ulAll ul{
	width: 5900px;
	position: absolute;
	top: 0px;
	left: 0px;
}
.ulAll ul li{
	width: 590px;
	height: 470px;
	list-style: none;
	float: left;
	overflow: hidden;
}
ol{
	position: absolute;
	left: 200px;
	bottom: 16px;
	width: 280px;
	margin-left: 22px;
}
ol li{
	float: left;
	width: 16px;
	height: 16px;
	border: 1px solid white;
	border-radius: 10px;
	margin:auto 3px;
	overflow: hidden;
	background: #000;
	opacity: 0.5;
	font-size: 0px;
	cursor: pointer;
}
.ulAll ol li.current{ background:white;}

#arr{
	display: none;
}
#arr span{
	width: 30px;
	height: 60px;
	position:absolute;  
	top:50%; 
	margin-top:-40px; 
	background: #2F4F4F;
	line-height: 60px;
	text-align: center;
	font-size: 30px;
	color: white;
	font-family:'黑体';
	opacity: 0.3;
	cursor: pointer;
}
#arr #left{
	border-radius: 0 40px 40px 0;
}
#arr #right{
	position: absolute;
	right: 0px;
	border-radius: 40px 0 0 40px;
}


/*内容右图部分*/
.fs_r1{
	float: left;
	margin: 9px 0 0 610px;
	width: 190px;
    height: 480px;
}
.fs_t1,.fs_t2,.fs_t3{
	margin-bottom: 10px;
	height: 150px;
}

/*内容右登录部分*/
.fs_r2{
	float: left;
    margin: 9px 0 0 10px;
    width: 190px;
    background: white;
    height: 470px;
    overflow: hidden;
}
.fs_r2_t {
	position: relative;

}
.fs_r2_t .frt2_t{
	position: absolute;
	top: -10px;
	left: 50%;
	margin-left: -34px;
	overflow: hidden;
	border: 5px solid #e3e1df;
	border-radius: 50%;
	box-shadow: 3px 6px 25px #c3c3c3;
	cursor: pointer;
}
.fs_r2_t .frt2t_img{
	width: 55px;
	height: 55px;
}
.frt2_m{
	width: 190px;
    height: 36px;
	/*background: red;*/
	text-align: center;
	padding: 70px 0px 8px 0px;
}
.frt2_m_t{
	color: #999;
}
.frt2_m_m a{
	color: #6a6767;
	text-decoration: none;
}
.frt2_m_m a:hover{
	color: red;
}
.frt2_f{
	width: 190px;
	/*text-align: center;*/
	margin-left: 20px;
}
.frt2_f .frt2_f_l,.frt2_f .frt2_f_r{
	display: inline-block;
	font-size: 12px;
	width: 70px;
    height: 25px;
	color: #e43f3b;
	text-align: center;
    line-height: 25px;
    border-radius: 12px;
    box-shadow: 5px 5px 5px #c3c3c3;
    margin-right: 6px;
	text-decoration: none;
}
.frt2_f .frt2_f_l{
	background: #fff;
}
.frt2_f .frt2_f_r{
	color: #e5d790;
	background: #363634;
}
.frt2_f .frt2_f_l:hover,.frt2_f .frt2_f_r:hover{
	color: white;
	background: red;
}
.fs_r2_m{
	overflow: hidden;
    height: 130px;
    margin-top: 12px;
}
.fsr2m_d{
	width: 160px;
	margin: auto;
}
.fsr2m_d h5{
	float: left;
	margin-right: 78px;
}
.fsr2m_d a,.fs_r2_m ul li a{
	text-decoration: none;
	color: #999;
}
.fsr2m_d a:hover{
	color: #796f6f;
}
.fsr2m_ul{
	margin: 10px 15px;
}
.fsr2m_ul span{
	float: left;
	margin-right: 6px;
	width: 40px;
	height: 18px;
	line-height: 18px;
	color: white;
	text-align: center;
	border-radius: 5px;
	background: #e47f7f;
	margin-top: 1px;
}
.fsr2m_ul li{
	list-style: none;
	line-height: 21px;
    max-width: 160px;
}
.fsr2m_ul li p{
	line-height: 21px;
    max-width: 160px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.fs_r2_fjx{
	border-bottom: 1px solid #f2d9d9;
	width: 160px;
    margin: auto;
}
.fs_r2_f .fsr2f_d{
	width: 190px;
    height: 176px;
    margin-top: 12px;
    position: relative;
	overflow: hidden;
}
.fsr2f_d p{
	position: absolute;
	top: -4px;
    right: 0px;
    cursor: pointer;
    width: 10px;
    text-align: center;
    height: 15px;
    background: #e4cccc;
    color: white;
    display: none;
}
.fs_r2_f .fsr2f_u{
	margin: 2px 0 0 10px;
	width: 172px;
	position: absolute;
}
.fs_r2_f .fsr2f_u li{
	list-style: none;
	height: 58px;
}
.fs_r2_f .fsr2f_u li a{
	text-decoration: none;
	display: inline-block;
	width: 40px;
	height: 58px;
	text-align: center;
	/*background: red;*/
}
.fs_r2_f .fsr2f_u li a span{
	color: #bea68d;
	width: 36px;
}
.fs_r2_f .fsr2f_u li i{
	display: inline-block;
	width: 26px;
    height: 26px;
}
.fs_r2_f .fsr2f_u li .u_hf{
	background: url(../img/fly.png) no-repeat 1px 1px;
}
.fs_r2_f .fsr2f_u li .u_jp{
	background: url(../img/fly.png) no-repeat 1px -24px;
}
.fs_r2_f .fsr2f_u li .u_jd{
	background: url(../img/fly.png) no-repeat 1px -150px;
}
.fs_r2_f .fsr2f_u li .u_yx{
	background: url(../img/fly.png) no-repeat 1px -75px;
}
.fs_r2_f .fsr2f_u li .u_cp{
	background: url(../img/fly.png) no-repeat 1px -99px;
}
.fs_r2_f .fsr2f_u li .u_jyk{
	background: url(../img/fly.png) no-repeat 1px -124px;
}
.fs_r2_f .fsr2f_u li .u_dyp{
	background: url(../img/fly.png) no-repeat 1px -50px;
}
.fs_r2_f .fsr2f_u li .u_hcp{
	background: url(../img/fly.png) no-repeat 1px -174px;
}
.fs_r2_f .fsr2f_u li .u_zc{
	background: url(../img/fly.png) no-repeat 1px -250px;
}
.fs_r2_f .fsr2f_u li .u_lc{
	background: url(../img/fly.png) no-repeat 1px -200px;
}
.fs_r2_f .fsr2f_u li .u_lpk{
	background: url(../img/fly.png) no-repeat 1px -272px;
}
.fs_r2_f .fsr2f_u li .u_bt{
	background: url(../img/fly.png) no-repeat 1px -225px;
}
.fs_r2_f .fsr2f_u li span{
	margin: 2px 0 0 2px;
	display: inline-block;
}

.fs_z1{
	width: 190px;
	height: 156px;
	position: absolute;
	top: 176px;
	background: white;
}
.fsz_l1 a{
	color: #999;
	text-decoration: none;
	margin-left: 10px;
}
.fsz_l1 a:hover{
	color: red;
}
.fsz_l1,.fsz_l2 input,.tcbg_l2 input{
	margin-bottom: 8px;
}

/*话费充值*/
#fszl1_hf{
	color: red;
}
.fsz_l2,.llcz_l2,.tcbg_l2{
	width: 164px;
    margin: auto;
}
.fsz_l2 input,.llcz_l2 input,.tcbg_l2 input{
	width: 120px;
}
.fsz_l2 label,.llcz_l2 label,.tcbg_l2 label{
	color: #999;
	margin-right: 4px;
}
.fsz_l2 select,.tcbg_l2 select{
	width: 124px;
	color: #6a4b4b;
}
.fsz_l3 h6,.llcz_l3 h6,.tcbg_l2 h6{
	font-weight: normal;
	color: red;
	margin: 4px 0 4px 12px;
}
.fl3_a,.llcz_a{
	margin-left: 14px;
}
.fsz_l3 a{
	text-decoration: none;
	display: block;
	margin-top: 4px;
}
.fsz_l3 a span,.llcz_a a span{
	width: 60px;
    height: 24px;
    line-height: 24px;
    text-align: center;
    background: red;
    border-radius: 12px;
    display: inline-block;
    color: white;
}
.fsz_l3 h7,.llcz_a h7{
	color: #5476db;
}
.fsz_l3 h7:hover,.llcz_a h7:hover{
	color: red;
}
.fsz_l{
	height: 145px;
	overflow: hidden;
}

/*流量充值*/
.llcz,.tcbg{
	display: none;
}
.llcz_l2 select{
	color: #6a4b4b;
}
.lab{
	margin-left: 1px;
}
.sel{
	margin: 0 4px 0 2px;
}
.lab,.sel{
	float: left;
	margin-top: 8px;
}
.sel2{
	margin-top: 8px;
}
.llcz_a a{
	text-decoration: none;
}


/*倒计时*/
.fs_c2{
	height: 275px;
	margin: 0 auto;
    width: 1190px;
    padding-top: 510px;
    /*background: red;*/
}
.fc2_left{
	float: left;
    width: 190px;
    height: 275px;
    background: #e83632;
    color: #fff;
    overflow: hidden;
}
.fc2_left .left_zt{
	width: 190px;
    text-align: center;
}
.fc2_left .left_zt h3{
	font-size: 34px;
	margin-top: 40px;
	font-weight: normal;
}
.fc2_left .left_zt p{
	font-size: 20px;
	color: #edac8e;
}
.left_sd{
	width: 52px;
    height: 50px;
    display: block;
    margin: 8px 64px;
}
.left_jssj{
    font-size: 16px;
}
.fc2_left .sjhk{
	width: 190px;
	margin: 16px 30px;
	position: relative;
}
.left_sjhk1,.left_sjhk2,.left_sjhk3{
	width: 40px;
    height: 40px;
    text-align: center;
    background-color: #2f3430;
    margin-right: 5px;
}
.left_sjhk1{
	position: absolute;
    top: 0px;
    left: 0px;
}
.left_sjhk2{
	position: absolute;
    top: 0px;
    left: 44px;
}
.left_sjhk3{
	position: absolute;
    top: 0px;
    left: 88px;
}
.left_sjhk1:before,.left_sjhk2:before,.left_sjhk3:before{
	content:'';
	display: block;
	height: 1px;
	margin-top: 20px;
	background: #e83632;
}
.left_sjhk1 span{
	position: absolute;
    top: 4px;
    left: 10px;
    font-size: 22px;
}
.left_sjhk2 span{
	position: absolute;
    top: 4px;
    left: 8px;
    font-size: 22px;
}
.left_sjhk3 span{
	position: absolute;
    top: 4px;
    left: 8px;
    font-size: 22px;
}

.fc2m_d{
	width: 990px;
	height: 275px;
	background: white;
}
.fc2m_d #fc2md_u li,.fc3m_d #fc3md_u li{
	list-style: none;
	float: left;
	width: 198px;
	height: 275px;
	/*background: #999;*/
	margin-left: 1px;
	overflow: hidden;
}
.fc2mdu_li{
	border-right: 1px solid #cfcaca;
}
.fc2m_d #fc2md_u li a,.fc3m_d #fc3md_u li a{
	text-decoration: none;
	color: #999;
}
.fc2m_d #fc2md_u li a p:hover,.fc3m_d #fc3md_u li a p:hover{
	color: red;
}
.fc2m_d #fc2md_u li a .t2_lhdn,.fc3m_d #fc3md_u li a .t2_lhdn{
	width: 120px;
    border: 1px solid red;
    height: 22px;
    margin: 10px auto;
}
.fc2m_d #fc2md_u li a span,.fc3m_d #fc3md_u li a span{
	width: 60px;
    height: 22px;
    display: inline-block;
    line-height: 22px;
    text-align: center;
	font-size: 14px;
	float: left;
}
.fc2m_d #fc2md_u li a .sp1,.fc3m_d #fc3md_u li a .sp1{
	background:red;
	color: white;
}
.fc2m_d #fc2md_u li a .t1_lhdn,.fc3m_d #fc3md_u li a .t1_lhdn{
	text-align: center;
	width: 198px;
	margin-top: 18px;
}
.fc2m_d #fc2md_u li a .t1_lhdn img,.fc3m_d #fc3md_u li a .t1_lhdn img{
	width: 160px;
    height: 160px;
}
.fc2r_lb{
	width: 190px;
    height: 275px;
    position: relative;
    top: -275px;
    left: 1000px;
    overflow: hidden;
}
.fc2r_lb ul{
	width: 380px;
	position: absolute;
}
.fc2r_lb ul li{
	list-style: none;
	float: left;
}


.fsc3_t{
	margin: 60px auto;
    width: 1100px;
}
.fs3t_d{
	width: 302px;
    margin: 40px auto;
}
.fs3t_d span{
	width: 70px;
    display: inline-block;
    border-top: 2px solid black;
    margin-bottom: 10px;
}
.fs3t_d .spn1{
	margin-right: 20px;
}
.fs3t_d .spn2{
	margin-left: 20px;
}
.fs3t_d h1{
	font-size: 30px;
    font-weight: normal;
}
.fsc3_t1{
	margin: -38px auto;
    width: 1100px;
}
.fsc3_t2{
	margin: 56px auto;
    width: 1100px;
}
.fc3m_d{
	width: 1100px;
	height: 275px;
	/*background: white;*/
}
.fc3m_d #fc3md_u li{
	list-style: none;
	float: left;
	width: 198px;
	height: 275px;
	background: white;
	margin-left: 18px;
}